.form-group {
    text-align: center;
    margin: auto 20% auto;
}

body{
    background-image:url(../img/home.jpeg);
    background-position: center top;  
}

.calcBtn {
    font: 15%;
    width: 15%;
    height: 75px;    
    margin-bottom: 10px;
}

#menu {
    padding: 0px;
    width: 100%;
    height: 100%;    
}

#botones {
    padding: 0px;
    width: 100%;
    height: 100%;  
    font-size: 50px;
    justify-content: center;
    text-align: center
}

#tabs{
    margin: 2%;
    border-bottom: 1px solid #000;
}

#tabBoton{
    margin: 2%;
    margin-bottom: 0;
    border: 1px solid #000;
    border-bottom-color: transparent
}